*{
    margin: 0! important;
    padding: 0! important;
    box-sizing: border-box! important;
}

.d-brown{
    color: #a95555;
}


body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .full-screen {
    height: 100vh;
    width: 100vw;
  }
.capsule{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border:1px solid #e4e4e2;
}