{% extends "user/base.html" %} 
{% load static %} 
{% block title %}Join PANDA{% endblock title %} 
{% block body %}

<div class="container-fluid h-100">
  <div class="row">
    <div class="col-md-8">
      <img src="{% static "./img/banner.png" %}" alt="" class="img-fluid w-100">
    </div>
    <div class="col-md-4 p-3">
      <h1 class="text-primary text-center">Welcome to PANDA</h1>
      {% if request.user.is_authenticated %}
      <h2 class="text-success text-center">{{user.email}}</h2>
    {% endif %}
      <form action="" class="my-5" method="post">
        <div class="capsule px-5 py-5">
          <h1 class="text-center my-4">Change <br>Password</h1>
          {% csrf_token %}
          {% if messages %}
            {% for i in messages %}
                {% if i.tags %}
                  <p class="alert alert-{{i.tags}} mb-5">{{i}}</p>
                {% endif %}
            {% endfor %}
          {% endif %}
          {% for i in form %}
          <div class="form-group mb-3">
            {{i.label_tag}} {{i}} <small class='text-danger'>{{i.errors|striptags}}</small>
          </div>
          {% endfor %} 
        </div>

        <div class="text-center my-3">
          
          <button class="mt-3 btn btn-light px-5 py-3 rounded-pill border border-dark" type="submit">Change Password</button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock body %}
