{% extends "user/base.html" %} 
{% load static %} 
{% block title %}Join PANDA{% endblock title %} 
{% block body %}

<div class="container-fluid h-100">
  <div class="row">
    <div class="col-md-8">
      <img src="{% static "./img/banner.png" %}" alt="" class="img-fluid w-100">
    </div>
    <div class="col-md-4 p-3">
      <h1 class="text-primary text-center">Welcome to PANDA</h1>
      {% if request.user.is_authenticated %}
      <h2 class="text-success text-center my-4">{{user.email}}</h2>
      {% endif %}

        <div class="capsule px-5 py-5">
          <h1 class="text-center my-4">Change Password Done</h1>
          <p class="px-3 py-2 bg-success text-white text-center">Congratulation!! Your password has been successfully Changed.</p>
        </div>

        <div class="text-center my-3">
          
          <button class="mt-3 btn btn-light px-5 py-3 rounded-pill border border-dark"><a class="nav-link" href="{% url "dashboard" %}">Go to Dashboard</a></button>
        </div>
    </div>
  </div>
</div>

{% endblock body %}
